<html ng-app="TestApp"> <!--Name of angular app-->
    <head>
        <title>The MEAN Stack</title>
        <script>src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"</script>
    </head>
    <body ng-controller="MainController as vm">
        <script>"/assets/js/app.js"</script>
    </body>
</html>